	 .choiceTeacher{
			 font-size: 26rpx;
			 font-family: Source Han Sans SC;
			 font-weight: 400;
			 color: #2D2D2D;
		 }
		 .choiceBox{
			 margin-top: 30rpx;
			 padding-bottom: 31rpx;
			 border-bottom: 1px solid #F2F2F2;
		 }
		 .choiceTeacherBox{
			 width: 120rpx;
			 height: 38rpx;
			 border: 1px solid #FEA406;
			 border-radius: 2rpx;
			 margin-left: 8rpx;
			 font-size: 20rpx;
			 font-family: Source Han Sans SC;
			 font-weight: 400;
			 color: #FEA406;
		    }
			.startTime{
				width: 155rpx;
			}
			.adjustingItem{
				padding: 27rpx 24rpx;
				border: 1px solid #EEEEEE;
				border-radius: 20rpx;
				margin-top: 30rpx;
			}
			.adjustingTime{
				font-size: 22rpx;
				font-family: Source Han Sans SC;
				font-weight: 400;
				color: #989898;
				margin-top: 15rpx;
			}
			.adjustingName{
				font-size: 24rpx;
				font-family: Source Han Sans SC;
				font-weight: 500;
				color: #2D2D2D;
			}
			.hoursText{
				font-size: 20rpx;
				font-family: Source Han Sans SC;
				color: #2D2D2D;
				margin-left: 110rpx;
			}
			.hoursTime{
				font-size: 24rpx;
				font-family: Source Han Sans SC;
				font-weight: 500;
				color: #75C9A8;
				margin-left: 30rpx;
			}
			.aySure{
				font-size: 32rpx;
				font-family: Source Han Sans SC;
				font-weight: bold;
				color: #2D2D2D;
				margin: 81rpx 0 42rpx 0;
			}
			.yuan{
					width: 34rpx;
					height: 34rpx;
					border: 2rpx solid #DDDDDD;
					border-radius: 50%;
					margin-right: 10rpx;
			/* 		padding: 5rpx; */
				}
			
			
				.activeYuan{
					width: 24rpx;
					height: 24rpx;
					background: #FF6638;
					border-radius: 50%;
				}